---
# Install system packages
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600
  become: yes

- name: Upgrade all packages to latest version
  ansible.builtin.apt:
    upgrade: dist
    autoremove: yes
  become: yes

- name: Install required system packages
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
      - software-properties-common
      - ufw
      - python3-pip
      - git
      - vim
      - htop
    state: present
  become: yes
